body {
  font-family: Arial, sans-serif;
  background-color: rgba(27, 39, 41, 0.524);
  color: rgb(242, 140, 8);
  line-height: 1.6;
  padding: 1rem;
}

.container {
  overflow: hidden;
}

/* Общие стили блоков */
.block {
  width: 200px;
  height: 70px;
  margin: 5px;
  background-color: aquamarine;
  border: 1px solid;
  padding: 10px;
  float: left; 
  box-sizing: border-box;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* Общие стили */
.left-block, .small-block {
  background: aquamarine;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}

.layout-4 {
  overflow: hidden;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
}

.layout-4 .left-block {
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 10px;
}

.layout-4 .right-column {
  float: left;
}

.layout-4 .small-block {
  width: 200px;
  height: 70px;
  margin-bottom: 10px;
  clear: both;
}

.layout-5 {
  width: 750px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0;
}

/* Большой блок в layout-5 */
.layout-5 .left-block {
  width: 400px;
  height: 150px;
  float: left;
  margin-right: 10px;
}

.layout-5 .small-column {
  float: left;
  display: block;
}

.layout-5 .small-block {
  width: 200px;
  height: 70px;
  margin-bottom: 10px;
}

/* Последний маленький блок без отступа */
.layout-5 .small-block:last-child {
  margin-bottom: 0;
}